<!DOCTYPE html>
{% extends 'core/base_department.html' %}
{% load static %}
{% block content %}
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Dirección</h3>
                    <ul class="breadcrumb">
                    <li class="breadcrumb-item active">Inicio</li>
                    <li class="breadcrumb-item"><a href="{% url 'department_main' %}">Solicitudes</a></li>
                    <li class="breadcrumb-item active">Ver Solicitud</li>
                </ul>
                </div>
            </div>
        </div>                
                        
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <form action="" method="post">
                            {% csrf_token %}          
                            <input type="hidden" name="request_id" value="#">      
                            <div class="row">
                                <div class="col-md-6">
                                    <h4 class="card-title ">Título</h4>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="poll_name" value="{{poll_data.name}}" disabled>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h4 class="card-title ">Tipo Incidencia</h4>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="poll_name" value="{{poll_data.incident}}" disabled>
                                    </div>
                                </div>
                            </div>
                            <br>         
                            <h4 class="card-title">Información Personal</h4>
                            <div class="row">
                                <div class="col-md-6">
                                    {% for field_name, field_value in field_answer_pairs %}
                                        {% if field_name == 'name_neighbor' %}
                                            <div class="form-group">
                                                <label>Nombre Vecino</label>
                                                <input type="text" class="form-control" name="{{ field_name }}" value="{{ field_value }}" disabled>
                                            </div>
                                        {% elif field_name == 'mail_neighbor' %}
                                            <div class="form-group">
                                                <label>Email</label>
                                                <input type="text" class="form-control" name="{{ field_name }}" value="{{ field_value }}" disabled>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="col-md-6">
                                    {% for field_name, field_value in field_answer_pairs %}
                                        {% if field_name == 'pohne_neighbor' %}
                                            <div class="form-group">
                                                <label>Teléfono</label>
                                                <input type="text" class="form-control" name="{{ field_name }}" value=" {{ field_value }}" disabled>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="col-md-6">
                                    {% for field_name, field_value in field_answer_pairs %}
                                        {% if field_name == 'rut_neighbor' %}
                                            <div class="form-group">
                                                <label>Rut</label>
                                                <input type="text" class="form-control" name="{{ field_name }}" value=" {{ field_value }}" disabled>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>

                            <h4 class="card-title mt-4">Información Incidente</h4>
                            <div class="row">
                                <div class="col-md-6">
                                    {% for field_name, field_value in field_answer_pairs %}
                                        {% if field_name == 'incidence_classification' %}
                                            <div class="form-group">
                                                <label>Clasificación incidencia</label>
                                                <input type="text" class="form-control" name="{{ field_name }}" value="{{ field_value }}" disabled>
                                            </div>
                                        {% elif field_name == 'incidence_priority' %}
                                            <div class="form-group">
                                                <label>Prioridad</label>
                                                <input type="text" class="form-control" name="{{ field_name }}" value="{{ field_value }}" disabled>
                                            </div>
                                        {% elif field_name == 'incidence_location' %}
                                            <div class="form-group">
                                                <label>Ubicación</label>
                                                <input type="text" class="form-control" name="{{ field_name }}" value="{{ field_value }}" disabled>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="col-md-6">
                                    {% for field_name, field_value in field_answer_pairs %}
                                        {% if field_name == 'incidence_description' %}
                                            <div class="form-group">
                                                <label>Descripción</label>
                                                <textarea rows="8" cols="5" class="form-control" name="{{ field_name }}" disabled>{{ field_value }}</textarea>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>

                            <h4 class="card-title mt-4">Información Multimedia</h4>
                            <div class="row">
                                <div class="col-md-6">
                                    {% for field_name, field_value in field_answer_pairs %}
                                        {% if field_name == 'incidence_image' %}
                                            <label>Imagen</label>
                                            <div class="row">                                                            
                                                {% for imagen in images %}
                                                    <div class="col-md-4 mb-4">
                                                        <div class="card">
                                                            <img src="{{ imagen }}" alt="title">
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                                
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="col-md-6">
                                    {% for field_name, field_value in field_answer_pairs %}
                                        {% if field_name == 'incidence_video' %}
                                            <div class="form-group">
                                                <label>Video</label>
                                                {% if incidence_video != '' %}
                                                    <video width="100%" height="240" controls>
                                                        <source src="{{incidence_video}}" type="video/mp4">
                                                        Tu navegador no soporta la etiqueta de video.
                                                    </video> 
                                                {% else %}
                                                    <p>El video no se cargó correctamente.</p>                                                                                                              
                                                {% endif %}                                                                
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    {% for field_name, field_value in field_answer_pairs %}
                                        {% if field_name == 'incidence_audio' %}
                                            <div class="form-group">
                                                <label>Audio</label>
                                                {% if field_value != '' %}
                                                    <audio controls>
                                                        <source src="{{ incidence_audio }}" type="audio/mpeg">
                                                        Tu navegador no soporta la etiqueta de audio.
                                                    </audio>
                                                {% else %}
                                                    <p>El audio no se cargó correctamente.</p>                                                                                                              
                                                {% endif %}                                                         
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            <h4 class="card-title mt-4">Ubicación</h4>
                            <div class="row">
                                <div class="col-md-12">  
                                    {% if lat != '' and lon != '' %}                                       
                                        <div id="map"></div>
                                    {% else %}
                                        <p>Las coordenadas no se cargaron correctamente.</p>                                                    
                                    {% endif %}
                                </div>
                            </div>
                            {% if poll_request_state == 'Cerrada' or poll_request_state == 'Finalizada' %}
                                <div class="form-group">
                                    {% if fields_record %}
                                        <h4 class="card-title mt-4">Informacion de Finalizacion</h4>
                                    {% endif %}
                                    {% for f in fields_record %}
                                        {% if f.request_record_kind == 'Descripcion' %}
                                            <div class="form-group">
                                                <label>Descripción</label>
                                                <input type="text" class="form-control" id="" name="" value="{{f.request_record_text}}" disabled>
                                            </div>
                                        {% endif %} 
                                        {% if f.request_record_kind == 'Imagenes' %}
                                            <label for="incidence_record_image" class="form-label">Imagenes</label>
                                            <div class="row">
                                                <div class="col-md-12 mb-2">
                                                    <div class="card">                                        
                                                        <img src="{{f.request_record_text}}" alt="Imagenes" width="500" height="auto">
                                                    </div>
                                                </div>
                                            </div>                                    
                                        {% endif %}
                                    {%endfor%}
                                </div> 
                            {% endif %}                                                      
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="text-end mt-4">
                                            {% if poll_request_state == 'Iniciada' %}
                                                <a href="#" class="btn btn-primary" onclick="openSelectionModal()">Derivar</a>
                                                <a href="#" class="btn btn-primary" onclick="openSelectionModalCancel()">Cancelar</a>
                                                <a href="{% url 'department_main' %}" class="btn btn-primary">Volver</a>
                                            {% endif %}
                                            {% if poll_request_state == 'Derivada' %}
                                                <a href="{% url 'department_list_derived' %}" class="btn btn-primary">Volver</a>
                                            {% endif %}
                                            {% if poll_request_state == 'Proceso' %}
                                                <a href="{% url 'department_in_progress' %}" class="btn btn-primary">Volver</a>
                                            {% endif %} 
                                            {% if poll_request_state == 'Finalizada' %}
                                                <a href="{% url 'department_finish' %}" class="btn btn-primary">Volver</a>
                                            {% endif %}  
                                            {% if poll_request_state == 'Cerrada' %}
                                                <a href="{% url 'department_list_closed' %}" class="btn btn-primary">Volver</a>
                                            {% endif %}                                                                                                                                                                        
                                        </div>
                                    </div> 
                                </div>
                            </div>                                                               
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
            

<!-- Llamada del footer -->
{% include 'core/footer.html' %}
        </div>
    </div>
    <div class="modal fade" id="crearCampoModal" tabindex="-1" role="dialog" aria-labelledby="crearCampoModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="crearCampoModalLabel">Crear Nuevo Campo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label for="nuevoCampo">Nombre del Nuevo Campo</label>
                    <input type="text" class="form-control" id="nuevoCampo">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" id="guardarCampo">Guardar</button>
                </div>
            </div>
        </div>
    </div>

<script type="text/javascript">
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function openSelectionModal() {
        const csrftoken = getCookie('csrftoken');

        // Abre SweetAlert para seleccionar cuadrilla y dejar una observación
        Swal.fire({
            title: 'Derivar Solicitud',
            html: `<form id="derivarForm">
                        <div class="swal2-input-group">
                            <h3>Cuadrilla:</h3>
                            <select id="cuadrilla" class="swal2-input" name="cuadrilla">
                                {% for brigade in brigades_data %}
                                    <option value="{{ brigade.brigade_id }}">{{ brigade.first_name }} {{ brigade.last_name }}</option>
                                {% endfor %}
                            </select><br><br>
                            <h3>Observación:</h3>
                            <input type="text" id="reason_for_delivery" class="swal2-input" name="reason_for_delivery">
                        </div>
                    </form>`,
            focusConfirm: false,
            showCancelButton: true,
            confirmButtonText: 'Aceptar',
            cancelButtonText: 'Volver',
            confirmButtonColor: '#134982',
            preConfirm: () => {
                const reason_for_delivery = document.getElementById('reason_for_delivery').value;
                const brigade_id = document.getElementById('cuadrilla').value;
                const form = document.getElementById('derivarForm');
                const formData = new FormData(form);
                const data = {};
                formData.forEach((value, key) => {
                    data[key] = value;
                });
                // Agregar poll_id al objeto data
                data['request_id'] = "{{ request_id }}";
                data['brigade_id'] = brigade_id;
                data['reason_for_delivery'] = reason_for_delivery;
                // Enviar solicitud AJAX a la vista management_derivar
                return fetch("{% url 'department_derivar' %}", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrftoken
                    },
                    body: JSON.stringify(data)
                }).then(response => {
                    if (!response.ok) {
                        throw new Error(response.statusText);
                    }
                    return response.json();
                }).then(data => {
                    if (data.status === 'success') {
                        Swal.fire('Solicitud derivada!', '', 'success').then(() => {
                            window.location.href = "{% url 'department_main' %}";
                        });
                    } else {
                        Swal.showValidationMessage(`Request failed: ${data.message}`);
                    }
                }).catch(error => {
                    console.log(`Request failed: ${error}`);
                    Swal.showValidationMessage(`Request failed: ${error}`);
                });
            }
        });
    }

    function openSelectionModalCancel() {
        const csrftoken = getCookie('csrftoken');
        // Abre SweetAlert para cancelar solicitud y dejar una observación
        Swal.fire({
            title: 'Cancelar Solicitud',
            html: `<form id="cancelarForm">
                        <div class="swal2-input-group">
                            <h3>Territorial:</h3>
                            <input type="text" id="territorial" class="swal2-input" value="{{user_create_incident}}" readonly style="background-color: #e9ecef; color: #495057;"><br><br>
                            <h3>Motivo para cancelar solicitud:</h3>
                            <input type="text" id="reason_for_rejection" class="swal2-input">
                        </div>
                    </form>`,
            focusConfirm: false,
            showCancelButton: true,
            confirmButtonText: 'Aceptar',
            cancelButtonText: 'Volver',
            confirmButtonColor: '#134982',
            preConfirm: () => {
                const reason_for_rejection = document.getElementById('reason_for_rejection').value;
                const form = document.getElementById('cancelarForm');
                const formData = new FormData(form);
                const data = {};
                formData.forEach((value, key) => {
                    data[key] = value;
                });
                // Agregar poll_id al objeto data
                data['request_id'] = "{{ request_id }}";
                data['reason_for_rejection'] = reason_for_rejection;

                // Enviar solicitud AJAX a la vista management_cancelar
                return fetch("{% url 'department_cancelar' %}", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrftoken
                    },
                    body: JSON.stringify(data)
                }).then(response => {
                    if (!response.ok) {
                        throw new Error(response.statusText);
                    }
                    return response.json();
                }).then(data => {
                    if (data.status === 'success') {
                        Swal.fire('Solicitud cancelada!', '', 'success').then(() => {
                            window.location.href = "{% url 'department_main' %}";
                        });
                    } else {
                        Swal.showValidationMessage(`Request failed: ${data.message}`);
                    }
                }).catch(error => {
                    console.log(`Request failed: ${error}`);
                    Swal.showValidationMessage(`Request failed: ${error}`);
                });
            }
        });
    }

    </script>
    <script>
        function initMap() {
            const ubicacion = { lat: {{ lat }}, lng: {{ lon }} };
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 15,
                center: ubicacion,
            });
            const marker = new google.maps.Marker({
                position: ubicacion,
                map: map,
            });
        }
    </script>
    <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuYuM-g2fRBcIyADL5lx65WBQbBrCDmKg&callback=initMap"></script>

<style>
    .swal2-title {
        color: #1D2939;
    }
    .swal2-input-group {
        text-align: left;
    }
    .swal2-input-group h3 {
        margin-bottom: 5px;
        color: #1D2939;
        font-size: 24px;
        margin-left: 1em;
    }
    .swal2-input-group select,
    .swal2-input-group input {
        width: calc(100% - 3em);
        margin-left: 1em;
    }
    .swal2-input-group input {
        margin-top: -5px;
    }
</style>

</body>

</html>
{% endblock %}
